<template>
  <BBTable
    :column-list="columnList"
    :section-data-source="anomalySectionList"
    :compact-section="compactSection"
    :show-header="true"
    :left-bordered="true"
    :right-bordered="true"
  >
    <template #header>
      <BBTableHeaderCell
        :left-padding="4"
        class="w-4"
        :title="columnList[0].title"
      />
      <BBTableHeaderCell :title="columnList[1].title" />
      <BBTableHeaderCell :title="columnList[2].title" />
      <BBTableHeaderCell :title="columnList[3].title" />
      <BBTableHeaderCell :title="columnList[4].title" />
    </template>
    <template #body="{ rowData: anomaly }">
      <BBTableCell :left-padding="4">
        <heroicons-outline:information-circle
          v-if="anomaly.severity == 'MEDIUM'"
          class="w-6 h-6 text-info"
        />
        <heroicons-outline:exclamation
          v-else-if="anomaly.severity == 'HIGH'"
          class="w-6 h-6 text-warning"
        />
        <heroicons-outline:exclamation-circle
          v-else-if="anomaly.severity == 'CRITICAL'"
          class="w-6 h-6 text-error"
        />
      </BBTableCell>
      <BBTableCell>
        {{ typeName(anomaly.type) }}
      </BBTableCell>
      <BBTableCell>
        {{ detail(anomaly) }}
        <span class="normal-link" @click.prevent="action(anomaly).onClick">
          {{ action(anomaly).title }}
        </span>
      </BBTableCell>
      <BBTableCell>
        {{ humanizeTs(anomaly.updatedTs) }}
      </BBTableCell>
      <BBTableCell>
        {{ humanizeTs(anomaly.createdTs) }}
      </BBTableCell>
    </template>
  </BBTable>
  <BBModal
    v-if="schemaDriftDetail"
    :title="`'${schemaDriftDetail.database.name}' schema drift - ${schemaDriftDetail.payload.version} vs Actual`"
    @close="dismissModal"
  >
    <div class="space-y-4">
      <code-diff
        class="w-full"
        :old-string="schemaDriftDetail.payload.expect"
        :new-string="schemaDriftDetail.payload.actual"
        :file-name="`${schemaDriftDetail.payload.version} (left) vs Actual (right)`"
        output-format="side-by-side"
      />
      <div class="flex justify-end px-4">
        <button type="button" class="btn-primary" @click.prevent="dismissModal">
          {{ $t("common.close") }}
        </button>
      </div>
    </div>
  </BBModal>
</template>

<script lang="ts">
import { computed, defineComponent, PropType, reactive } from "vue";
import { useRouter } from "vue-router";
import { CodeDiff } from "v-code-diff";
import { useI18n } from "vue-i18n";
import { BBTableSectionDataSource } from "../bbkit/types";
import {
  Anomaly,
  AnomalyDatabaseBackupMissingPayload,
  AnomalyDatabaseBackupPolicyViolationPayload,
  AnomalyDatabaseConnectionPayload,
  AnomalyDatabaseSchemaDriftPayload,
  AnomalyInstanceConnectionPayload,
  AnomalyType,
} from "../types";
import { databaseSlug, humanizeTs, instanceSlug } from "../utils";
import { useDatabaseStore, useInstanceStore } from "@/store";
import { useEnvironmentV1Store } from "@/store";

type Action = {
  onClick: () => void;
  title: string;
};

interface LocalState {
  showModal: boolean;
  selectedAnomaly?: Anomaly;
}

export default defineComponent({
  name: "AnomalyTable",
  components: { CodeDiff },
  props: {
    anomalySectionList: {
      required: true,
      type: Object as PropType<BBTableSectionDataSource<Anomaly>[]>,
    },
    compactSection: {
      default: true,
      type: Boolean,
    },
  },
  setup() {
    const router = useRouter();
    const { t } = useI18n();

    const state = reactive<LocalState>({
      showModal: false,
    });

    const columnList = computed(() => [
      {
        title: "",
      },
      {
        title: t("common.type"),
      },
      {
        title: t("common.detail"),
      },
      {
        title: t("anomaly.last-seen"),
      },
      {
        title: t("anomaly.first-seen"),
      },
    ]);

    const typeName = (type: AnomalyType): string => {
      switch (type) {
        case "bb.anomaly.instance.connection":
          return t("anomaly.types.connection-failure");
        case "bb.anomaly.instance.migration-schema":
          return t("anomaly.types.missing-migration-schema");
        case "bb.anomaly.database.backup.policy-violation":
          return t("anomaly.types.backup-enforcement-violation");
        case "bb.anomaly.database.backup.missing":
          return t("anomaly.types.missing-backup");
        case "bb.anomaly.database.connection":
          return t("anomaly.types.connection-failure");
        case "bb.anomaly.database.schema.drift":
          return t("anomaly.types.schema-drift");
      }
    };

    const detail = (anomaly: Anomaly): string => {
      switch (anomaly.type) {
        case "bb.anomaly.instance.connection": {
          const payload = anomaly.payload as AnomalyInstanceConnectionPayload;
          return payload.detail;
        }
        case "bb.anomaly.instance.migration-schema":
          return "Please create migration schema on the instance first.";
        case "bb.anomaly.database.backup.policy-violation": {
          const payload =
            anomaly.payload as AnomalyDatabaseBackupPolicyViolationPayload;
          const environment = useEnvironmentV1Store().getEnvironmentByUID(
            String(payload.environmentId)
          );
          return `'${environment.title}' environment requires ${payload.expectedSchedule} auto-backup.`;
        }
        case "bb.anomaly.database.backup.missing": {
          const payload =
            anomaly.payload as AnomalyDatabaseBackupMissingPayload;
          const missingSentence = `Missing ${payload.expectedSchedule} backup, `;
          return (
            missingSentence +
            (payload.lastBackupTs
              ? `last successful backup taken on ${humanizeTs(
                  payload.lastBackupTs
                )}.`
              : "no successful backup taken.")
          );
        }
        case "bb.anomaly.database.connection": {
          const payload = anomaly.payload as AnomalyDatabaseConnectionPayload;
          return payload.detail;
        }
        case "bb.anomaly.database.schema.drift": {
          const payload = anomaly.payload as AnomalyDatabaseSchemaDriftPayload;
          return `Recorded latest schema version ${payload.version} is different from the actual schema.`;
        }
      }
    };

    const action = (anomaly: Anomaly): Action => {
      switch (anomaly.type) {
        case "bb.anomaly.instance.connection": {
          const instance = useInstanceStore().getInstanceById(
            anomaly.instanceId!
          );
          return {
            onClick: () => {
              router.push({
                name: "workspace.instance.detail",
                params: {
                  instanceSlug: instanceSlug(instance),
                },
              });
            },
            title: t("anomaly.action.check-instance"),
          };
        }
        case "bb.anomaly.instance.migration-schema": {
          const instance = useInstanceStore().getInstanceById(
            anomaly.instanceId!
          );
          return {
            onClick: () => {
              router.push({
                name: "workspace.instance.detail",
                params: {
                  instanceSlug: instanceSlug(instance),
                },
              });
            },
            title: t("anomaly.action.check-instance"),
          };
        }
        case "bb.anomaly.database.backup.policy-violation": {
          const database = useDatabaseStore().getDatabaseById(
            anomaly.databaseId!
          );
          return {
            onClick: () => {
              router.push({
                name: "workspace.database.detail",
                params: {
                  databaseSlug: databaseSlug(database),
                },
                hash: "#backup-and-restore",
              });
            },
            title: t("anomaly.action.configure-backup"),
          };
        }
        case "bb.anomaly.database.backup.missing": {
          const database = useDatabaseStore().getDatabaseById(
            anomaly.databaseId!
          );
          return {
            onClick: () => {
              router.push({
                name: "workspace.database.detail",
                params: {
                  databaseSlug: databaseSlug(database),
                },
                hash: "#backup-and-restore",
              });
            },
            title: t("anomaly.action.view-backup"),
          };
        }
        case "bb.anomaly.database.connection": {
          const instance = useInstanceStore().getInstanceById(
            anomaly.instanceId!
          );
          return {
            onClick: () => {
              router.push({
                name: "workspace.instance.detail",
                params: {
                  instanceSlug: instanceSlug(instance),
                },
              });
            },
            title: t("anomaly.action.check-instance"),
          };
        }
        case "bb.anomaly.database.schema.drift":
          return {
            onClick: () => {
              state.selectedAnomaly = anomaly;
              state.showModal = true;
              useDatabaseStore().getOrFetchDatabaseById(anomaly.databaseId!);
            },
            title: t("anomaly.action.view-diff"),
          };
      }
    };

    const schemaDriftDetail = computed(() => {
      if (state.showModal && state.selectedAnomaly) {
        const anomaly = state.selectedAnomaly;
        const payload = anomaly.payload as AnomalyDatabaseSchemaDriftPayload;
        const database = useDatabaseStore().getDatabaseById(
          anomaly.databaseId!
        );
        return { anomaly, payload, database };
      }
      return undefined;
    });

    const dismissModal = () => {
      state.showModal = false;
      state.selectedAnomaly = undefined;
    };

    return {
      columnList,
      state,
      typeName,
      detail,
      action,
      schemaDriftDetail,
      dismissModal,
    };
  },
});
</script>
