<template>
  <!-- eslint-disable vue/no-mutating-props -->

  <div class="flex items-center py-1">
    <label for="project" class="textlabel mr-4">
      {{ $t("common.projects") }}
    </label>
    <div class="w-64">
      <ProjectSelect
        id="project"
        class="mt-1"
        name="project"
        :mode="ProjectMode.Tenant"
        :selected-id="props.state.tenantProjectId"
        @select-project-id="(id: string) => props.state.tenantProjectId = id"
      />
    </div>
  </div>
  <div v-if="state.tenantProjectId">
    <ProjectTenantView
      :state="state"
      :database-list="filteredDatabaseList"
      :environment-list="environmentList"
      :project="project"
      @dismiss="$emit('dismiss')"
    />
  </div>
</template>

<script lang="ts" setup>
import { computed } from "vue";
import { Database, UNKNOWN_ID } from "../../types";
import ProjectSelect, { Mode as ProjectMode } from "../ProjectSelect.vue";
import ProjectTenantView, {
  State as ProjectTenantState,
} from "./ProjectTenantView.vue";
import { useProjectV1ByUID } from "@/store";
import { Environment } from "@/types/proto/v1/environment_service";

export type State = ProjectTenantState & {
  tenantProjectId: string | undefined;
};

const props = defineProps<{
  state: State;
  databaseList: Database[];
  environmentList: Environment[];
}>();

defineEmits<{
  (event: "dismiss"): void;
}>();

const { project } = useProjectV1ByUID(
  computed(() => {
    return props.state.tenantProjectId ?? String(UNKNOWN_ID);
  })
);

const filteredDatabaseList = computed(() => {
  if (!props.state.tenantProjectId) return [];
  return props.databaseList.filter(
    (db) => db.project.id === props.state.tenantProjectId
  );
});
</script>
