<template>
  <div
    class="w-full h-auto flex-grow flex flex-col justify-start items-start overflow-scroll"
  >
    <MonacoEditor
      ref="editorRef"
      v-model:value="sqlCode"
      class="w-full h-full"
      :language="selectedLanguage"
      :dialect="selectedDialect"
      :readonly="readonly"
      @change="handleChange"
      @change-selection="handleChangeSelection"
      @save="handleSaveSheet"
      @ready="handleEditorReady"
    />
  </div>
</template>

<script lang="ts" setup>
import { computed, defineEmits, nextTick, ref, watch, watchEffect } from "vue";

import {
  useInstanceStore,
  useTabStore,
  useSQLEditorStore,
  useDatabaseStore,
  useSheetV1Store,
  useInstanceById,
  useDBSchemaStore,
  useUIStateStore,
} from "@/store";
import MonacoEditor from "@/components/MonacoEditor/MonacoEditor.vue";
import {
  Database,
  dialectOfEngine,
  ExecuteConfig,
  ExecuteOption,
  SQLDialect,
  UNKNOWN_ID,
} from "@/types";
import { TableMetadata } from "@/types/proto/store/database";
import { useInstanceEditorLanguage } from "@/utils";

const emit = defineEmits<{
  (e: "save-sheet", content?: string): void;
  (
    e: "execute",
    sql: string,
    config: ExecuteConfig,
    option?: ExecuteOption
  ): void;
}>();

const instanceStore = useInstanceStore();
const tabStore = useTabStore();
const databaseStore = useDatabaseStore();
const dbSchemaStore = useDBSchemaStore();
const sqlEditorStore = useSQLEditorStore();
const sheetV1Store = useSheetV1Store();
const uiStateStore = useUIStateStore();

const editorRef = ref<InstanceType<typeof MonacoEditor>>();

const sqlCode = computed(() => tabStore.currentTab.statement);
const selectedInstance = useInstanceById(
  computed(() => tabStore.currentTab.connection.instanceId)
);
const selectedDatabase = computed(() => {
  const id = tabStore.currentTab.connection.databaseId;
  if (id === UNKNOWN_ID) return undefined;
  return databaseStore.getDatabaseById(id);
});
const selectedInstanceEngine = computed(() => {
  return instanceStore.formatEngine(selectedInstance.value);
});
const selectedLanguage = useInstanceEditorLanguage(selectedInstance);
const selectedDialect = computed((): SQLDialect => {
  const engine = selectedInstance.value.engine;
  return dialectOfEngine(engine);
});
const readonly = computed(() => sheetV1Store.isReadOnly);
const currentTabId = computed(() => tabStore.currentTabId);
const isSwitchingTab = ref(false);

watch(currentTabId, () => {
  isSwitchingTab.value = true;
  nextTick(() => {
    isSwitchingTab.value = false;
  });
});

watch(
  () => sqlEditorStore.shouldFormatContent,
  () => {
    if (sqlEditorStore.shouldFormatContent) {
      editorRef.value?.formatEditorContent();
      sqlEditorStore.setShouldFormatContent(false);
    }
  }
);

const handleChange = (value: string) => {
  // When we are switching between tabs, the MonacoEditor emits a 'change'
  // event, but we shouldn't update the current tab;
  if (isSwitchingTab.value) {
    return;
  }
  tabStore.updateCurrentTab({
    statement: value,
    isSaved: false,
  });
};

const handleChangeSelection = (value: string) => {
  tabStore.updateCurrentTab({
    selectedStatement: value,
  });
};

const handleSaveSheet = () => {
  emit("save-sheet");
};

const handleEditorReady = async () => {
  const monaco = await import("monaco-editor");
  editorRef.value?.editorInstance?.addAction({
    id: "RunQuery",
    label: "Run Query",
    keybindings: [monaco.KeyMod.CtrlCmd | monaco.KeyCode.Enter],
    contextMenuGroupId: "operation",
    contextMenuOrder: 0,
    run: async () => {
      const typedValue = editorRef.value?.editorInstance?.getValue();
      const selectedValue = editorRef.value?.editorInstance
        ?.getModel()
        ?.getValueInRange(
          editorRef.value?.editorInstance?.getSelection() as any
        ) as string;
      const query = selectedValue || typedValue || "";
      await emit("execute", query, {
        databaseType: selectedInstanceEngine.value,
      });
      uiStateStore.saveIntroStateByKey({
        key: "data.query",
        newState: true,
      });
    },
  });

  editorRef.value?.editorInstance?.addAction({
    id: "ExplainQuery",
    label: "Explain Query",
    keybindings: [monaco.KeyMod.CtrlCmd | monaco.KeyCode.KeyE],
    contextMenuGroupId: "operation",
    contextMenuOrder: 0,
    run: async () => {
      const typedValue = editorRef.value?.editorInstance?.getValue();
      const selectedValue = editorRef.value?.editorInstance
        ?.getModel()
        ?.getValueInRange(
          editorRef.value?.editorInstance?.getSelection() as any
        ) as string;
      const query = selectedValue || typedValue || "";
      await emit(
        "execute",
        query,
        { databaseType: selectedInstanceEngine.value },
        { explain: true }
      );
    },
  });

  watchEffect(() => {
    if (selectedInstance.value) {
      const databaseMap: Map<Database, TableMetadata[]> = new Map();

      const databaseList = selectedDatabase.value
        ? [selectedDatabase.value]
        : databaseStore.getDatabaseListByInstanceId(selectedInstance.value.id);
      // Only provide auto-complete context for those opened database.
      for (const database of databaseList) {
        const tableList = dbSchemaStore.getTableListByDatabaseId(database.id);
        if (tableList.length > 0) {
          databaseMap.set(database, tableList);
        }
      }
      const connectionScope = selectedDatabase.value ? "database" : "instance";
      editorRef.value?.setEditorAutoCompletionContext(
        databaseMap,
        connectionScope
      );
    }
  });
};
</script>
