<template>
  <div class="flex flex-col relative">
    <div class="px-5 py-2 flex justify-between items-center">
      <EnvironmentTabFilter
        :include-all="true"
        :environment="selectedEnvironment?.uid ?? String(UNKNOWN_ID)"
        @update:environment="changeEnvironmentId"
      />

      <div class="flex items-center space-x-4">
        <NTooltip v-if="canVisitUnassignedDatabases">
          <template #trigger>
            <router-link
              :to="{
                name: 'workspace.project.detail',
                params: {
                  projectSlug: DEFAULT_PROJECT_ID,
                },
                hash: '#databases',
              }"
              class="normal-link text-sm"
            >
              {{ $t("database.view-unassigned-databases") }}
            </router-link>
          </template>

          <div class="whitespace-pre-wrap">
            {{ $t("quick-action.default-db-hint") }}
          </div>
        </NTooltip>

        <NInputGroup style="width: auto">
          <InstanceSelect
            :instance="state.instanceFilter"
            :include-all="true"
            :environment="selectedEnvironment?.uid"
            @update:instance="state.instanceFilter = $event ?? UNKNOWN_ID"
          />
          <SearchBox
            :value="state.searchText"
            :placeholder="$t('database.search-database')"
            :autofocus="true"
            @update:value="changeSearchText($event)"
          />
        </NInputGroup>
      </div>
    </div>

    <DatabaseTable pagination-class="mb-4" :database-list="filteredList" />

    <div
      v-if="state.loading"
      class="absolute inset-0 bg-white/50 flex justify-center items-center"
    >
      <BBSpin />
    </div>
  </div>
</template>

<script lang="ts" setup>
import { computed, watchEffect, onMounted, reactive } from "vue";
import { useRoute, useRouter } from "vue-router";
import { NInputGroup, NTooltip } from "naive-ui";

import {
  EnvironmentTabFilter,
  InstanceSelect,
  SearchBox,
} from "@/components/v2";
import DatabaseTable from "../components/DatabaseTable.vue";
import {
  type Database,
  UNKNOWN_ID,
  DEFAULT_PROJECT_ID,
  InstanceId,
  UNKNOWN_USER_NAME,
} from "../types";
import {
  filterDatabaseByKeyword,
  hasWorkspacePermissionV1,
  sortDatabaseListByEnvironmentV1,
} from "../utils";
import {
  useCurrentUserV1,
  useDatabaseStore,
  useEnvironmentV1Store,
  useUIStateStore,
} from "@/store";

interface LocalState {
  instanceFilter: InstanceId;
  searchText: string;
  databaseList: Database[];
  loading: boolean;
}

const uiStateStore = useUIStateStore();
const environmentV1Store = useEnvironmentV1Store();
const router = useRouter();
const route = useRoute();

const state = reactive<LocalState>({
  instanceFilter: UNKNOWN_ID,
  searchText: "",
  databaseList: [],
  loading: false,
});

const currentUserV1 = useCurrentUserV1();
const databaseStore = useDatabaseStore();

const selectedEnvironment = computed(() => {
  const { environment } = route.query;
  return environment
    ? environmentV1Store.getEnvironmentByUID(environment as string)
    : undefined;
});

const canVisitUnassignedDatabases = computed(() => {
  return hasWorkspacePermissionV1(
    "bb.permission.workspace.manage-database",
    currentUserV1.value.userRole
  );
});

onMounted(() => {
  if (!uiStateStore.getIntroStateByKey("database.visit")) {
    uiStateStore.saveIntroStateByKey({
      key: "database.visit",
      newState: true,
    });
  }
});

const prepareDatabaseList = async () => {
  // It will also be called when user logout
  if (currentUserV1.value.name !== UNKNOWN_USER_NAME) {
    state.loading = true;
    await databaseStore.fetchDatabaseList();
    const databaseList = databaseStore.getDatabaseListByUser(
      currentUserV1.value
    );
    state.databaseList = sortDatabaseListByEnvironmentV1(
      databaseList,
      environmentV1Store.getEnvironmentList()
    );
    state.loading = false;
  }
};

watchEffect(prepareDatabaseList);

const changeEnvironmentId = (environment: string | undefined) => {
  if (environment && environment !== String(UNKNOWN_ID)) {
    router.replace({
      name: "workspace.database",
      query: { environment },
    });
  } else {
    router.replace({ name: "workspace.database" });
  }
};

const changeSearchText = (searchText: string) => {
  state.searchText = searchText;
};

const filteredList = computed(() => {
  const { databaseList, searchText } = state;
  let list = [...databaseList];
  const environment = selectedEnvironment.value;
  if (environment && parseInt(environment.uid, 10) !== UNKNOWN_ID) {
    list = list.filter(
      (db) => String(db.instance.environment.id) === environment.uid
    );
  }
  if (state.instanceFilter !== UNKNOWN_ID) {
    list = list.filter((db) => db.instance.id === state.instanceFilter);
  }
  list = list.filter((db) =>
    filterDatabaseByKeyword(db, searchText, [
      "name",
      "environment",
      "instance",
      "project",
    ])
  );
  return list;
});
</script>
